.container {
  width: 60%;
  margin: auto;
}
.header {
  text-align: center;
  margin-bottom: 60px;
}
.selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.selection button {
  border: solid 2px purple;
  background: transparent;
  min-width: 160px;
  padding: 8px 30px;
  border-radius: 4px;
}
.selection button:hover {
  background: orange;
}
.selection button:active {
  background: rgb(243, 102, 20);
}
